target/classes/static/css/main.bundle.css
target/classes/static/fonts/fontawesome-webfont.eot
target/classes/static/fonts/fontawesome-webfont.svg
target/classes/static/fonts/fontawesome-webfont.ttf
target/classes/static/fonts/fontawesome-webfont.woff
target/classes/static/fonts/fontawesome-webfont.woff2
target/classes/static/fonts/glyphicons-halflings-regular.eot
target/classes/static/fonts/glyphicons-halflings-regular.svg
target/classes/static/fonts/glyphicons-halflings-regular.ttf
target/classes/static/images/beer.jpg
target/classes/static/images/chicago.jpg
target/classes/static/images/la.jpg
target/classes/static/images/login.jpg
target/classes/static/images/ny.jpg
target/classes/static/js/bundle.js
target/classes/templates/acess-denied.html
target/classes/templates/login.html
target/classes/templates/registration.html
target/classes/templates/admin/home.html
target/classes/templates/components/Carousel.html
target/classes/templates/error/404.html
target/classes/templates/layout/footer.html
target/classes/templates/layout/head.html
target/classes/templates/layout/header.html
target/classes/templates/pages/index.html
