// Main Pallete
$hostel-orange: #eb6841;
$hostel-green: #00a0b0;
$hostel-brown: #6a4a3c;
$hostel-red: #cc333f;
$hostel-yellow: #edc951;

// Black and whites
$brown-woody: #422f2c;
$white-wafer: #d8c9be;
$gray-bombay: #b2b6ba;
$white-swirl: #d5d3c4;
$bluew-heater: #bac9d0;

// -- White, black and gray shades.
$curious-blue : #1E8BC3;
$whitesmoke : whitesmoke;
$silver     : #ccc;
$white      : white;
$brown-arrow-town: #9c8772;
$deep-sea-green: #0a4755;
$red-mandy: #e6626d;
$black-mine: #2b2b2b;